.css-12i7wg6-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar {
  width: 4px;
  @apply bg-gray-50;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper::-webkit-scrollbar-thumb {
  @apply bg-green;
}



.MuiTableCell-root {
  border-bottom: none !important;
}

.css-4rpjgr-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root.Mui-focused {
  background-color: transparent !important;
}
.css-1lbyzdu-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:hover,
.css-1lbyzdu-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root:focus {
  background-color: transparent !important;
}
.css-1lbyzdu-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root::before,
.css-1lbyzdu-MuiInputBase-root-MuiFilledInput-root-MuiSelect-root::after {
  border-bottom: none !important;
}
